*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  body{
    font-family: 'Quicksand', sans-serif;
  }
  
  .father{
    display:flex;
    flex-flow:column nowrap;
  }
  .header{
    display:flex;
    flex-flow:column nowrap;
    background:rgba(21, 25, 42, 0.75); 
    position:fixed;
    width: 100%;
  }
  .menu{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    height:125px;
    align-items:center;
    
  }
  .logo{
   flex:0.7 0 0;
   cursor:pointer;
  }
  #search{
  flex:0 0 auto;
  margin:5px;
  }
  #search input{
    border-radius:5px;
    background-color:whitesmoke;
    height:28px;
    font-size:14px;
    width: 180px;
  } 
  #search i{
  color:whitesmoke;
  margin:5px;
  }
  #homePage{
    background:url(img/fondo-pokemon.jpg);
    background-position:center;
    background-attachment:contain;
    background-size:cover;
    height:750px;
  }
  .mainText{
   display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    padding:150px 0 0 0;
  }
  h1{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  }
  .welcomeImg{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:flex-start;
    align-content:flex-start;
    
  }
  .welcomeImg img{
    flex:0 0 auto;
    width: 390px;
    }
  .secondaryText{
    display:flex;
    justify-content:space-around;
    align-content:center;
    padding:20px;
  }
  .secondaryText p{
  flex: 0.5 1 auto;
  color:white;
  background-color:rgba(21, 25, 42, 0.322);
  border-radius: 30px;
  width:0;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  }
  /*Arregloboton*/
  .btn button:link{
    text-decoration:none;
  }
  .btn button{
    color:white;
  }

  .btn{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
  }
  
  #start{
    align-self:center;
    text-decoration:none;
    background:#15192A; 
    border: none; 
    border-radius: 100px;
    padding:15px;
    cursor:pointer;
  }
  #start:hover{
    background: linear-gradient(90.3deg, #A2DB96 0.11%, #24CCA9 99.93%);
    transition: .2s ease;
}
  /*Pantalla Pokédex*/
  #pokedex{
    background-color:whitesmoke;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    height:auto;
    width: auto;
  }
  #pokeFilters{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    background-color:whitesmoke;
    margin:120px 60px 0 60px;
    width: auto;
   }
  #titlePokedex{
    background-color:whitesmoke;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
  }
  #titlePokedex h1{
    color:#15192A;
    font-size:24px;
    cursor:pointer;  
  }
  
#titlePokedex h1:hover{
    font-size:26px;
    transition: .2s ease;
}
  .filter{
  font-family: 'Quicksand', sans-serif;
  font-size:15px;
  background-color:#15192A; 
  color:white;
  border-radius:5px;
  padding:10px;
  margin:0 0 10px 0;
  border:none;
  cursor:pointer;
  }
  .filter:hover{
    background: linear-gradient(90.3deg, #A2DB96 0.11%, #24CCA9 99.93%);
    transition: .2s ease;
}

  option{
    background-color:#5D6379;
  }

  /*CAJA QUE RECIBE A LOS POKEMON*/
#box{
  display: flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  margin:120px 60px 0 60px;
  }
  
  .card{
  width: 176px;
  height: 266px;
  background:#FFFFFF;
  border: 6px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
  border-radius: 26px;
  float: left ;
  margin:22px;
  cursor:pointer;
  }

  .pokeNumber{
    color:white;
    text-align:center;
    width: 79px;
    height: 37px;
    background: #15192A;
    border: 6px solid #15192A;
    box-sizing: border-box;
    border-radius: 15px;
    margin:auto;
    }
  
  .card img{
    margin:10px 20px;
    width:70%;
  }
  
  .pokeName{
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin:0 27px;
    font-weight:bold;
    }

    p{
      font-weight: 500;
      text-align:center;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
      margin:0 27px;
      }    
  /*FIN CAJA*/
  
/*MODAL*/
.backgroundModal{
  background:rgba(0,0,0,0.5);
  position:fixed;
  z-index: 1;
  overflow: auto;
  top: 0;
  bottom:0;
  left:0;
  right:0;
}

.cardModal{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  background:white;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
   border-radius:15px;
   padding:16px;
   text-align:center;
   width: 325px;
   margin:120px auto;
}

.closeCard{
 display:flex;
 color:#15192A;
 font-size:25px;
 float:right;
 cursor:pointer;
}

.firstInfo{
flex-direction:column;
}

.firstInfo p{
color:#15192A;
}

.frontLine{
 display:inline-flex;
 flex-wrap:wrap;
 justify-content:space-between;
 width: 100%;
 margin:12px auto;
 }

.frontLine  p{
flex-direction:row;
justify-content:center;
color:#15192A;
font-size: medium;
padding:10px;
margin: auto;
line-height:20px;
}

.vertical-line{
display:block;
width: 0.25px;
background-color: #15192A;
height: 45px;
position:relative;
opacity:50%;
}

.horizontal-line{
height: 0.25px;
background-color: #15192A;
opacity:50%;
}

.secondLine{
 display:flex;
 flex-wrap:wrap;
 justify-content:space-around;
 width: 100%;
 margin:5px auto 0;
}

.secondLine p{
flex-direction:row;
justify-content:center;
color:#15192A;
font-size: medium;
padding:10px;
margin: auto;
line-height:20px;
}

.thirdLine{
 display:flex;
 flex-wrap:wrap;
 justify-content:space-around;
 width: 100%;
}

.thirdLine p{
flex-direction:row;
justify-content:center;
color:#15192A;
font-size: medium;
padding:10px;
margin: auto;
line-height:22px;
}

.btnOk{
  text-decoration:none;
   background:#15192A; 
   color:white;
   border: none; 
   border-radius: 100px;
   padding:5px;
   width: 81px;
   margin: 12px auto 28px;
   cursor:pointer;
}

.btnOk:hover{
   background: linear-gradient(90.3deg, #A2DB96 0.11%, #24CCA9 99.93%);
   transition: .2s ease;
}

  footer{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    background:#15192A; 
  }
  
  .foot{
    background:green;
    width:300px;
    justify-content:space-between;
  }

@media screen and (max-width: 840px){
    .menu{
      flex-direction:column;
      height:auto;
    }
    h1{
      font-size: 28px;
    }
    .welcomeImg img{
    width: 350px;
    }
    .secondaryText p{
    font-size: 20px;
    }
  #box .card{
      flex-direction:column;
    }
  }
  
@media screen and (max-width: 600px){
    .menu{
      flex-direction:column;
      height:auto;
    }
    #pokedex{
      display:block;
    }
    h1{
      font-size: 28px;
    }
    .welcomeImg img{
    width: 350px;
    }
    .secondaryText p{
    font-size: 20px;
    width:130px;
    }
    .filter{
      width:110px;
      font-size:14px;
    }
    #pokeFilters{
    width: auto;
    display:block;
    flex-direction:row;
    }
    #box{
    margin:auto;
    width:100%;
    }
  }
  
@media screen and (max-width: 480px){
    .menu{
      flex-direction:column;
      height:auto;
    }
    #pokedex{
      display:block;
    }
    h1{
      font-size: 28px;
    }
    .welcomeImg img{
    width: 350px;
    }
    .secondaryText p{
    font-size: 20px;
    width:176px;
    }
    .filter{
      width:102px;
      font-size:12px;
    }
    #pokeFilters{
      width: auto;
      display:block;
      flex-direction:row;
      margin:120px 15px 0 22px;
    }
    #box{
      margin:auto;
      width:100%;
    }
  }
  
@media screen and (max-width: 360px){
    .menu{
      flex-direction:column;
      height:auto;
    }
    #pokedex{
      display:block;
    }
    h1{
      font-size: 26px;
    }
    .welcomeImg img{
    width: 250px;
    }
    .secondaryText p{
    font-size: 18px;
    width:176px;
    line-height: 28px;
    }
    .filter{
      width:110px;
      font-size:12px;
    }
    #pokeFilters{
      width: auto;
      display:block;
      flex-direction:row;
      margin: 120px 15px 0 65px;
    }
  #titlePokedex h1{
    margin: 0 28px 0 0;
  }
    #box{
      margin:auto;
      width:100%;
    }

  .cardModal{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    background:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    border-radius:15px;
    padding:16px;
    text-align:center;
    width: 280px;
    margin:120px auto;
   }
   
   .frontLine  p{
   font-size: small;
   line-height:15px;
   }
   .secondLine  p{
   font-size: small;
   line-height:15px;
   }
   .thirdLine  p{
   font-size: small;
   line-height:15px;
   }
    
  }