*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  body{
    font-family: 'Quicksand', sans-serif;
  }
  
  .father{
    display:flex;
    flex-flow:column nowrap;
  }
  .header{
    display:flex;
    flex-flow:column nowrap;
    background:rgba(21, 25, 42, 0.75); 
    position:fixed;
    width: 100%;
  }
  .menu{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    height:125px;
    align-items:center;
    
  }
  .logo{
   flex:0.7 0 0;
  }
  #search{
  flex:0 0 auto;
  margin:5px;
  }
  #search input{
    border-radius:5px;
    background-color:whitesmoke; 
  } 
  #search i{
  color:whitesmoke;
  margin:5px;
  }
  #homePage{
    background:url(img/fondo-pokemon.jpg);
    background-position:center;
    background-attachment:contain;
    background-size:cover;
    height:750px;
  }
  .mainText{
   display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    padding:150px 0 0 0;
  }
  h1{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  }
  .welcomeImg{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:flex-start;
    align-content:flex-start;
    
  }
  .welcomeImg img{
    flex:0 0 auto;
    width: 390px;
    }
  .secondaryText{
    display:flex;
    justify-content:space-around;
    align-content:center;
    padding:20px;
  }
  p{
  flex: 0.5 1 auto;
  color:white;
  background-color:rgba(21, 25, 42, 0.322);
  border-radius: 30px;
  width:0;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  }
  /*Arregloboton*/
a:link{
  text-decoration:none;
}
a{
  color:white;
}

  .btn{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
  }
  
  #start{
    align-self:center;
    text-decoration:none;
    background:#15192A; 
    border: 0 solid #15192A; 
    border-radius: 100px;
    padding:15px;
  }
  #start:hover{
    background: linear-gradient(90.3deg, #A2DB96 0.11%, #24CCA9 99.93%);
    transition: .2s ease;
}
  /*Pantalla Pokédex*/
  #pokedex{
    background-color:whitesmoke;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    height:auto;
  }
  #pokeFilters{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    background-color:whitesmoke;
    margin:120px 60px 0 60px;
   }
  #titlePokedex{
    background-color:whitesmoke;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
  }
  #titlePokedex h1{
    color:#15192A;  
  }
  .filter{
  font-family: 'Quicksand', sans-serif;
  font-size:15px;
  background-color:#15192A; 
  color:white;
  border-radius:5px;
  padding:10px;
  margin:0 0 10px 0;
  }
  
  option{
    background-color:#5D6379;
  }

  /*CAJA QUE RECIBE A LOS POKEMON*/
#box{
  display: flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  margin:120px 60px 0 60px;
  }
  
  .card{
  width: 176px;
  height: 266px;
  background:#FFFFFF;
  border: 6px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
  border-radius: 26px;
  float: left ;
  margin:22px;
  }
  
  .card h3{
  color:white;
  text-align:center;
  width: 79px;
  height: 37px;
  background: #15192A;
  border: 6px solid #15192A;
  box-sizing: border-box;
  border-radius: 15px;
  margin:auto;
  }
  .card img{
    margin:10px 20px;
    width:70%;
  }
  
  .card p{
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin:0 27px;
  }
  /*FIN CAJA*/
  
  footer{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    background:#15192A; 
  }
  
  .foot{
    background:green;
    width:300px;
    justify-content:space-between;
  }
  @media screen and (max-width: 600px){
    .menu{
      flex-direction:column;
      height:auto;
    }
    h1{
      font-size: 28px;
    }
    .welcomeImg img{
    width: 350px;
    }
    p{
    font-size: 20px;
    }
    #pokeFilters{
    width: 100%;
    flex: 1 1 auto;
    display:flex;
    }
    #box{
    width:100%;
    display:flex;
    }
    #box .card{
      flex-direction:column;
    }
  }